In [1]:
import pandas as pd
import numpy as np

# 1. ËÆÄÂèñ
df = pd.read_csv("daily_challenge.csv")

# 2. Âø´ÈÄüÂÅ•Ê™¢ (Ë´ãËßÄÂØü output)
print("--- Ë≥áÊñôÂΩ¢ÁãÄ ---")
print(df.shape) 

print("\n--- Ë≥áÊñôÂûãÊÖã (Info) ---")
print(df.info())
# üõë ËßÄÂØüÈªû 1ÔºöÊ≥®ÊÑè 'Income' ÊáâË©≤ÊòØÊï∏Â≠óÔºå‰ΩÜÈÄôË£°È°ØÁ§∫ 'object' (‰ª£Ë°®Ë£°Èù¢ÊúâÂ≠ó‰∏≤)
# üõë ËßÄÂØüÈªû 2ÔºöÊ≥®ÊÑè 'Join_Date' ‰πüÊòØ 'object'Ôºå‰∏çÊòØ datetime
# üõë ËßÄÂØüÈªû 3ÔºöNon-Null Count ÊúÉÂëäË®¥‰Ω†Âì™Ë£°ÊúâÁº∫ÂÄº

print("\n--- Êï∏ÂÄºÁµ±Ë®à (Describe) ---")
print(df.describe())
# üõë ËßÄÂØüÈªû 4ÔºöÁúã 'Credit_Score' ÁöÑ maxÔºåÊòØ‰∏çÊòØÂá∫Áèæ‰∫Ü 9999ÔºüÈÄôÊòØÁï∞Â∏∏ÂÄº„ÄÇ

--- Ë≥áÊñôÂΩ¢ÁãÄ ---
(1050, 5)

--- Ë≥áÊñôÂûãÊÖã (Info) ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Cust_ID       945 non-null    float64
 1   Name          942 non-null    object
 2   Income        943 non-null    object
 3   Join_Date     945 non-null    object
 4   Credit_Score  946 non-null    float64
dtypes: float64(2), object(3)
memory usage: 41.1+ KB
None

--- Êï∏ÂÄºÁµ±Ë®à (Describe) ---
           Cust_ID  Credit_Score
count   945.000000    946.000000
mean    499.474074    626.687104
std     289.583291    701.299956
min       1.000000    300.000000
25%     249.000000    440.000000
50%     501.000000    575.500000
75%     749.000000    718.750000
max    1000.000000   9999.000000

In [2]:
print(f"ÂéüÊú¨Á≠ÜÊï∏: {len(df)}")
df = df.drop_duplicates()
print(f"ÂéªÈáçÂæåÁ≠ÜÊï∏: {len(df)}")

ÂéüÊú¨Á≠ÜÊï∏: 1050
ÂéªÈáçÂæåÁ≠ÜÊï∏: 1000

In [3]:
# Á≠ñÁï•ÔºöÂÖàËΩâÂ≠ó‰∏≤ -> ÊãîÊéâÁ¨¶Ëôü -> Âº∑Âà∂ËΩâÊï∏Â≠ó -> Â°´Ë£úÁº∫ÂÄº -> ËΩâÊï¥Êï∏

# A. Ê∏ÖÊ¥óÁ¨¶Ëôü (ÈÅãÁî® .str ÊäÄÂ∑ß)
# Ë®òÂæóË¶ÅÂÖà astype(str)ÔºåÂõ†ÁÇ∫Ë£°Èù¢ÂéüÊú¨Ê∑∑Êúâ float (NaN)
df['Income_Clean'] = df['Income'].astype(str).str.replace('$', '', regex=False).str.replace(',', '', regex=False)

# B. Âº∑Âà∂ËΩâÊï∏Â≠ó (ÈÅãÁî® to_numeric + errors='coerce')
# ÈÄôÊ≠•ÊúÉÊääÂéüÊú¨ÊòØ 'nan' Â≠ó‰∏≤ÊàñÁÑ°Ê≥ïËæ®Ë≠òÁöÑËÆäÊàêÁúüÊ≠£ÁöÑ NaN
df['Income_Clean'] = pd.to_numeric(df['Income_Clean'], errors='coerce')

# C. Â°´Ë£úÁº∫ÂÄº (ÂÅáË®≠Â°´Ë£úÂπ≥ÂùáËñ™Ë≥á)
mean_income = df['Income_Clean'].mean()
df['Income_Clean'] = df['Income_Clean'].fillna(mean_income)

# D. ËΩâÊï¥Êï∏ (ÁÇ∫‰∫ÜÁæéËßÄ)
df['Income_Clean'] = df['Income_Clean'].astype(int)

# Ê™¢Êü•‰∏Ä‰∏ã
print(df[['Income', 'Income_Clean']].head())

    Income  Income_Clean
0    85093         85093
1   108773        108773
2  $120050        120050
3    33807         33807
4   112937        112937

In [4]:
# 1. ËΩâÊàêÂ≠ó‰∏≤ -> 2. ÂéªÈô§ÂâçÂæåÁ©∫ÁôΩ -> 3. Êää '/' ÂÖ®ÈÉ®ÊèõÊàê '-'
df['Join_Date_Fixed'] = df['Join_Date'].astype(str).str.strip().str.replace('/', '-')

# 4. ÂÜçËΩâÊàêÊó•Êúü
df['Join_Date_Clean'] = pd.to_datetime(df['Join_Date_Fixed'], errors='coerce')

# Ê™¢Êü•ÁµêÊûú
print(df[['Join_Date', 'Join_Date_Clean']].head())

    Join_Date Join_Date_Clean
0  2024/11/28      2024-11-28
1  2024-09-27      2024-09-27
2  2024-08-31      2024-08-31
3  2024-09-12      2024-09-12
4  2024-03-11      2024-03-11

In [5]:
# Á≠ñÁï•ÔºöÊää 9999 Ë¶ñÁÇ∫ÁÑ°ÊïàÂÄº (NaN)
# ÂØ´Ê≥ïÔºöÊâæÂá∫ Credit_Score Á≠âÊñº 9999 ÁöÑ‰ΩçÁΩÆÔºåË≥¶ÂÄºÁÇ∫ np.nan
df.loc[df['Credit_Score'] == 9999, 'Credit_Score'] = np.nan

# ‰Ω†‰πüÂèØ‰ª•ÈÅ∏ÊìáÂ°´Ë£úÂπ≥ÂùáÂàÜ
df['Credit_Score'] = df['Credit_Score'].fillna(df['Credit_Score'].median())

In [6]:
df['Name'] = df['Name'].str.strip()

In [7]:
# ÂÜçÊ¨°Ê™¢Êü•
print(df.info())
# ‚úÖ ÁõÆÊ®ôÔºö
# 1. Income_Clean ÊòØ int64
# 2. Join_Date_Clean ÊòØ datetime64
# 3. Ê≤íÊúâ Null ÂÄº (Èô§Èùû‰Ω†ÊïÖÊÑè‰øùÁïô)

print(df.describe())
# ‚úÖ ÁõÆÊ®ôÔºöCredit_Score ÁöÑÊúÄÂ§ßÂÄºÊáâË©≤ËÆäÊ≠£Â∏∏‰∫Ü (‰∏çÊúÉÊòØ 9999)

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Cust_ID          900 non-null    float64
 1   Name             900 non-null    object
 2   Income           900 non-null    object
 3   Join_Date        900 non-null    object
 4   Credit_Score     1000 non-null   float64
 5   Income_Clean     1000 non-null   int64
 6   Join_Date_Fixed  1000 non-null   object
 7   Join_Date_Clean  900 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 70.3+ KB
None
           Cust_ID  Credit_Score   Income_Clean                Join_Date_Clean
count   900.000000   1000.000000    1000.000000                            900
mean    501.655556    576.434000   84457.445000  2024-07-06 19:28:00.000000256
min       1.000000    300.000000   22091.000000            2024-01-01 00:00:00
25%     249.750000    453.000000   53635.750000            2024-04-07 00:00:00
50%     505.500000    575.000000   84457.000000            2024-07-09 12:00:00
75%     752.250000    698.000000  115699.750000            2024-10-04 00:00:00
max    1000.000000    849.000000  149941.000000            2024-12-30 00:00:00
std     290.356452    148.905865   36261.491147                            NaN

In [8]:
df

,Cust_ID,Name,Income,Join_Date,Credit_Score,Income_Clean,Join_Date_Fixed,Join_Date_Clean
0,1.0,User_1,85093,2024/11/28,718.0,85093,2024-11-28,2024-11-28
1,2.0,User_2,108773,2024-09-27,479.0,108773,2024-09-27,2024-09-27
2,3.0,NaN,$120050,2024-08-31,348.0,120050,2024-08-31,2024-08-31
3,4.0,User_4,33807,2024-09-12,405.0,33807,2024-09-12,2024-09-12
4,5.0,User_5,112937,2024-03-11,575.0,112937,2024-03-11,2024-03-11
...,...,...,...,...,...,...,...,...
995,996.0,User_996,76251,NaN,811.0,76251,nan,NaT
996,NaN,User_997,40761,2024-02-21,603.0,40761,2024-02-21,2024-02-21
997,998.0,User_998,NaN,2024/04/08,506.0,84457,2024-04-08,2024-04-08
998,999.0,User_999,45407,2024-05-20,459.0,45407,2024-05-20,2024-05-20
999,1000.0,User_1000,NaN,2024-06-06,611.0,84457,2024-06-06,2024-06-06