In [30]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# Ë®≠ÂÆö Pandas È°ØÁ§∫ÈÅ∏È†Ö (ÈÅøÂÖçÊ¨Ñ‰ΩçË¢´ ... Èö±Ëóè)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
pd.set_option('display.float_format', '{:.2f}'.format) # ÊµÆÈªûÊï∏Âè™È°ØÁ§∫ÂÖ©‰Ωç

In [31]:
import pandas as pd
import numpy as np

# ËÆÄÂèñ CSV (ÈÅáÂà∞‰∫ÇÁ¢ºÊôÇÂòóË©¶ encoding)
df = pd.read_csv('daily_challenge.csv', encoding='utf-8') 
# Â∏∏Ë¶ãÁ∑®Á¢ºÈÇÑÊúâ: 'big5' (ÁπÅÈ´î‰∏≠ÊñáËàäÁ∑®Á¢º), 'cp950' (Windows‰∏≠Êñá), 'utf-8-sig'

# ËÆÄÂèñ Excel
# df = pd.read_excel('data.xlsx', sheet_name='Sheet1')

# üìã ÂæûÂâ™Ë≤ºÁ∞øËÆÄÂèñ (Ë∂ÖÂØ¶Áî®ÔºÅË§áË£ΩÁ∂≤È†Å/ExcelË°®Ê†ºÂæåÁõ¥Êé•Âü∑Ë°å)
# df = pd.read_clipboard()

In [32]:
# Âü∫Êú¨È´îÊ™¢
print(df.shape)          # (ÂàóÊï∏, Ê¨ÑÊï∏) - Á¢∫Ë™çË≥áÊñôÈáèÁ¥ö
print(df.columns)        # Êü•ÁúãÊâÄÊúâÊ¨Ñ‰ΩçÂêçÁ®±
print(df.head())         # ÁúãÂâç 5 Á≠ÜË≥áÊñôÈï∑Áõ∏
print(df.info())         # Ê™¢Êü•Ë≥áÊñôÂûãÊÖã (Dtype) ÂíåÊòØÂê¶ÊúâÁº∫ÂÄº (Non-Null)

# Êï∏ÂÄºÁµ±Ë®à (Ê™¢Êü•ÊòØÂê¶ÊúâÊÄ™Áï∞ÁöÑÊ•µÂ§ß/Ê•µÂ∞èÂÄº)
print(df.describe())     

# üïµÔ∏è‚Äç‚ôÄÔ∏è È°ûÂà•ÂÅµÊü• (ÊäìÂá∫ 'Male', 'male ', 'M' ÈÄôÁ®Æ‰∏ç‰∏ÄËá¥)
# dropna=False ÊúÉÈÄ£ NaN ‰∏ÄËµ∑È°ØÁ§∫ÔºåÈùûÂ∏∏ÈáçË¶ÅÔºÅ
print(df['Cust_ID'].value_counts(dropna=False))

(1050, 5)
Index(['Cust_ID', 'Name', 'Income', 'Join_Date', 'Credit_Score'], dtype='object')
   Cust_ID    Name   Income   Join_Date  Credit_Score
0     1.00  User_1    85093  2024/11/28        718.00
1     2.00  User_2   108773  2024-09-27        479.00
2     3.00     NaN  $120050  2024-08-31        348.00
3     4.00  User_4    33807  2024-09-12        405.00
4     5.00  User_5   112937  2024-03-11           NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Cust_ID       945 non-null    float64
 1   Name          942 non-null    object
 2   Income        943 non-null    object
 3   Join_Date     945 non-null    object
 4   Credit_Score  946 non-null    float64
dtypes: float64(2), object(3)
memory usage: 41.1+ KB
None
       Cust_ID  Credit_Score
count   945.00        946.00
mean    499.47        626.69
std     289.58        701.30
min       1.00        300.00
25%     249.00        440.00
50%     501.00        575.50
75%     749.00        718.75
max    1000.00       9999.00
Cust_ID
NaN       105
213.00      2
126.00      2
297.00      2
57.00       2
         ...
995.00      1
996.00      1
998.00      1
999.00      1
4.00        1
Name: count, Length: 901, dtype: int64

In [33]:
# 1. ÂéªÈô§ÂâçÂæåÁ©∫ÁôΩ (Trim)
df['Name'] = df['Name'].str.strip()

# 2. Â§ßÂ∞èÂØ´Áµ±‰∏Ä
df['Name'] = df['Name'].str.lower() # Êàñ .str.upper()

# 3. Âèñ‰ª£Â≠óÂÖÉ (ÂéªÈô§Ë≤®Âπ£Á¨¶Ëôü„ÄÅÈÄóËôü)
# ÊÉÖÂ¢ÉÔºöÊää '$1,200' ËÆäÊàê '1200'
df['Income'] = df['Income'].astype(str).str.replace('$', '', regex=False).str.replace(',', '', regex=False)

In [34]:
# 1. Âº∑Âà∂ËΩâÊï∏ÂÄº (Ê†∏ÂΩàÁ¥öÊåá‰ª§ üí£)
# errors='coerce' ÊòØÈáçÈªûÔºöÈÅáÂà∞ 'Unknown' Êàñ‰∫ÇÁ¢ºÔºåÁõ¥Êé•ËÆäÊàê NaNÔºå‰∏çË¶ÅÂ†±ÈåØÔºÅ
df['Income'] = pd.to_numeric(df['Income'], errors='coerce')

# 2. ËΩâÊèõÂæåËôïÁêÜ NaN (‰æãÂ¶ÇÂ°´ 0)
df['Income'] = df['Income'].fillna(0)

# 3. ËΩâÊàêÊï¥Êï∏ (Á¢∫Ë™çÊ≤íÂ∞èÊï∏ÈªûÂæå)
df['Income'] = df['Income'].astype(int)

# 4. ÊôÇÈñìÊ†ºÂºèËΩâÊèõ
# 1. ËΩâÊàêÂ≠ó‰∏≤ -> 2. ÂéªÈô§ÂâçÂæåÁ©∫ÁôΩ -> 3. Êää '/' ÂÖ®ÈÉ®ÊèõÊàê '-'
df['Join_Date_Fixed'] = df['Join_Date'].astype(str).str.strip().str.replace('/', '-')

# 4. ÂÜçËΩâÊàêÊó•Êúü
df['Join_Date_Clean'] = pd.to_datetime(df['Join_Date_Fixed'], errors='coerce')

# Ê™¢Êü•ÁµêÊûú
print(df[['Join_Date', 'Join_Date_Clean']].head())

    Join_Date Join_Date_Clean
0  2024/11/28      2024-11-28
1  2024-09-27      2024-09-27
2  2024-08-31      2024-08-31
3  2024-09-12      2024-09-12
4  2024-03-11      2024-03-11

In [35]:
# --- Áº∫ÂÄºËôïÁêÜ (Missing Values) ---
# Ê™¢Êü•ÊØè‰∏ÄÊ¨ÑÊúâÂ§öÂ∞ëÁº∫ÂÄº
print(df.isna().sum())

# Á≠ñÁï• 1: Áõ¥Êé•Âà™Èô§ (Ëã•Ë≥áÊñôÈáèÂ§†Â§ß)
df_clean = df.dropna()

# Á≠ñÁï• 2: Â°´Ë£ú
df['Income'] = df['Income'].fillna(df['Income'].mean())       # Êï∏ÂÄºÂ°´Âπ≥Âùá
df['Name'] = df['Name'].fillna('Unknown')            # È°ûÂà•Â°´ 'Unknown'

# --- Áï∞Â∏∏ÂÄºËôïÁêÜ (Outliers) ---
# ÊÉÖÂ¢ÉÔºöËôïÁêÜ 9999 (Á≥ªÁµ±È†êË®≠ÈåØË™§Á¢º)
# ÊñπÊ≥ï A: ËìãÊéâËÆäÊàê NaN
df.loc[df['Credit_Score'] == 9999, 'Credit_Score'] = np.nan 

# ÊñπÊ≥ï B: Êà™Êñ∑ (Capping) - Ë∂ÖÈÅé 850 ÁöÑÈÉΩÁï∂‰Ωú 850
df.loc[df['Credit_Score'] > 850, 'Credit_Score'] = 850

Cust_ID            105
Name               108
Income               0
Join_Date          105
Credit_Score       104
Join_Date_Fixed      0
Join_Date_Clean    105
dtype: int64

In [36]:
# Ê¢ù‰ª∂ÁØ©ÈÅ∏
# ‰æãÂ¶ÇÔºöÈÅ∏Âá∫ Age > 30 ‰∏î City ÊòØ 'Taipei'
# mask = (df['age'] > 30) & (df['city'] == 'Taipei')
# filtered_df = df[mask].copy() # Âä†‰∏ä .copy() ÈÅøÂÖçË≠¶Âëä

# ÂéªÈô§ÈáçË§áÂÄº
df = df.drop_duplicates()

# Ê¨Ñ‰ΩçÈáçÊñ∞ÂëΩÂêç
# df = df.rename(columns={'Old_Name': 'New_Name'})

In [37]:
df['month'] = df['Join_Date_Clean'].dt.month       # ÂèñÂá∫Êúà‰ªΩ
df['weekday'] = df['Join_Date_Clean'].dt.day_name()# ÂèñÂá∫ÊòüÊúüÂπæ
df['year'] = df['Join_Date_Clean'].dt.year

In [38]:
# ÈáçÁΩÆÁ¥¢Âºï (ÈùûÂ∏∏ÈáçË¶ÅÔºÅÁâπÂà•ÊòØÂú® dropna ÊàñÁØ©ÈÅ∏Âæå)
df = df.reset_index(drop=True)

# Â≠òÊ™î
# df.to_csv('data_clean.csv', index=False, encoding='utf-8-sig')

df

     Cust_ID       Name  Income   Join_Date  Credit_Score Join_Date_Fixed Join_Date_Clean  month    weekday    year
0       1.00     user_1   85093  2024/11/28        718.00      2024-11-28      2024-11-28  11.00   Thursday 2024.00
1       2.00     user_2  108773  2024-09-27        479.00      2024-09-27      2024-09-27   9.00     Friday 2024.00
2       3.00    Unknown  120050  2024-08-31        348.00      2024-08-31      2024-08-31   8.00   Saturday 2024.00
3       4.00     user_4   33807  2024-09-12        405.00      2024-09-12      2024-09-12   9.00   Thursday 2024.00
4       5.00     user_5  112937  2024-03-11           NaN      2024-03-11      2024-03-11   3.00     Monday 2024.00
..       ...        ...     ...         ...           ...             ...             ...    ...        ...     ...
995   996.00   user_996   76251         NaN        811.00             nan             NaT    NaN        NaN     NaN
996      NaN   user_997   40761  2024-02-21        603.00      2024-02-21      2024-02-21   2.00  Wednesday 2024.00
997   998.00   user_998       0  2024/04/08        506.00      2024-04-08      2024-04-08   4.00     Monday 2024.00
998   999.00   user_999   45407  2024-05-20        459.00      2024-05-20      2024-05-20   5.00     Monday 2024.00
999  1000.00  user_1000       0  2024-06-06        611.00      2024-06-06      2024-06-06   6.00   Thursday 2024.00

[1000 rows x 10 columns]

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Cust_ID          900 non-null    float64
 1   Name             1000 non-null   object
 2   Income           1000 non-null   int64
 3   Join_Date        900 non-null    object
 4   Credit_Score     896 non-null    float64
 5   Join_Date_Fixed  1000 non-null   object
 6   Join_Date_Clean  900 non-null    datetime64[ns]
 7   month            900 non-null    float64
 8   weekday          900 non-null    object
 9   year             900 non-null    float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(4)
memory usage: 78.3+ KB

In [41]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 676 entries, 0 to 1049
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Cust_ID          676 non-null    float64
 1   Name             676 non-null    object
 2   Income           676 non-null    int64
 3   Join_Date        676 non-null    object
 4   Credit_Score     676 non-null    float64
 5   Join_Date_Fixed  676 non-null    object
 6   Join_Date_Clean  676 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 42.2+ KB